In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Benz-Poobua/Undergrad-Research-1/main/GroundwaterLevelsDiscreteResults_2023Dec05_868.csv')

In [4]:
df_re = df.copy()
df_re = df_re.loc[df_re.Study_ID == 'MRED0005']

In [5]:
df_re

,Study_ID,Study_Name,Location_ID,Study_Specific_Location_ID,Location_Name,Well_Tag_ID,Field_Collection_Type,Field_Collector,Field_Collection_Date,Field_Collection_Time,...,Calculated_Water_Level_Elevation_NAVD88_FT,Calculated_Water_Level_Elevation_Accuracy_FT,Calculated_Water_Level_Depth_Below_Land_Surface_FT,Study_ID_Alias,EIM_Data_Entry_Review_Status,Result_Suspect_Or_Rejected_Flag,Result_Suspect_Code,Result_Suspect_Description,Record_Created_On,Result_System_ID
9,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB754,LYV-MW-009,LYV-MW-009,BKB754,MEASUREMENT,WA Dept of Ecology,01/19/2022,14:13:00,...,755.93,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,4/29/2022 1:04:34 PM,215238367
24,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB743,LYV-MW-024,LYV-MW-024,BKB743,MEASUREMENT,WA Dept of Ecology,01/26/2022,08:56:00,...,705.35,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,4/29/2022 1:04:35 PM,215238481
30,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB737,LYV-MW-001,LYV-MW-001,BKB737,Measurement,WA Dept of Ecology,07/29/2021,14:50:00,...,950.22,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,2/4/2022 5:55:40 PM,215042998
32,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB727,LYV-MW-025,LYV-MW-025,BKB727,MEASUREMENT,WA Dept of Ecology,04/13/2022,12:24:00,...,898.40,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,11/3/2022 2:00:51 PM,216104846
49,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB736,LYV-MW-019,LYV-MW-019,BKB736,MEASUREMENT,WA Dept of Ecology,04/12/2022,12:14:00,...,673.27,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,11/3/2022 2:00:51 PM,216104798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB727,LYV-MW-025,LYV-MW-025,BKB727,MEASUREMENT,WA Dept of Ecology,01/26/2022,11:48:00,...,900.25,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,4/29/2022 1:04:35 PM,215238493
860,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB756,LYV-MW-013,LYV-MW-013,BKB756,Measurement,WA Dept of Ecology,08/10/2021,09:20:00,...,665.35,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,2/4/2022 6:12:05 PM,215043131
864,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB731,LYV-MW-007,LYV-MW-007,BKB731,MEASUREMENT,WA Dept of Ecology,01/19/2022,10:10:00,...,807.13,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,4/29/2022 1:04:34 PM,215238355
866,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB754,LYV-MW-009,LYV-MW-009,BKB754,Measurement,WA Dept of Ecology,08/03/2021,16:04:00,...,756.97,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,2/4/2022 6:11:41 PM,215043065
867,MRED0005,Lower Yakima Valley Groundwater Management Are...,BKB756,LYV-MW-013,LYV-MW-013,BKB756,MEASUREMENT,WA Dept of Ecology,01/20/2022,10:51:00,...,664.22,NaN,NaN,NaN,Not Reviewed,NaN,NaN,NaN,4/29/2022 1:04:34 PM,215238397

In [9]:
selected_fields = ['Calculated_Latitude_Decimal_Degrees_NAD83HARN', 'Calculated_Longitude_Decimal_Degrees_NAD83HARN','Water_Level_Value', 'Field_Collection_Date']
df_re = df_re[selected_fields]

In [10]:
df_re

,Calculated_Latitude_Decimal_Degrees_NAD83HARN,Calculated_Longitude_Decimal_Degrees_NAD83HARN,Water_Level_Value,Field_Collection_Date
9,46.360853,-120.178468,6.96,01/19/2022
24,46.192634,-119.953788,26.03,01/26/2022
30,46.492069,-120.360809,86.48,07/29/2021
32,46.331412,-119.926623,28.05,04/13/2022
49,46.272755,-120.030795,19.53,04/12/2022
...,...,...,...,...
854,46.331412,-119.926623,26.20,01/26/2022
860,46.273278,-120.057593,27.49,08/10/2021
864,46.411592,-120.209806,167.00,01/19/2022
866,46.360853,-120.178468,5.92,08/03/2021
867,46.273278,-120.057593,28.62,01/20/2022

In [14]:
# Assuming 'Latitude' is a column in your DataFrame
most_frequent_latitude = df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'].value_counts().idxmax()
frequency_of_most_frequent_latitude = df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'].value_counts().max()

print(f"The most frequent latitude is: {most_frequent_latitude}")
print(f"It appears {frequency_of_most_frequent_latitude} times.")

The most frequent latitude is: 46.20854
It appears 8 times.

In [20]:
# Assuming 'Latitude' is a column in your DataFrame
most_frequent_latitude = df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'].value_counts().idxmax()
frequency_of_most_frequent_latitude = df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'].value_counts().max()

print(f"The most frequent latitude is: {most_frequent_latitude}")
print(f"It appears {frequency_of_most_frequent_latitude} times.")

The most frequent latitude is: 46.20854
It appears 8 times.

In [21]:
# Keep only the rows with the most frequent latitude
df_filtered = df_re[df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'] == most_frequent_latitude]

In [23]:
df_filtered

,Calculated_Latitude_Decimal_Degrees_NAD83HARN,Calculated_Longitude_Decimal_Degrees_NAD83HARN,Water_Level_Value,Field_Collection_Date
68,46.20854,-119.92197,29.50,08/16/2021
237,46.20854,-119.92197,34.30,12/06/2021
254,46.20854,-119.92197,34.30,12/06/2021
532,46.20854,-119.92197,29.50,08/16/2021
612,46.20854,-119.92197,39.78,03/23/2022
777,46.20854,-119.92197,39.78,03/23/2022
807,46.20854,-119.92197,29.50,06/15/2022
819,46.20854,-119.92197,29.50,06/15/2022

In [13]:
# Specific latitude value to count
target_latitude = '46.3608532749233'

# Count occurrences of the target latitude
count_of_target_latitude = df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'].value_counts().get(target_latitude, 0)

print(f"The latitude '{target_latitude}' appears {count_of_target_latitude} times.")

The latitude '46.3608532749233' appears 0 times.

In [29]:
selected_lat = 46.3608532749233
selected_long = 120.178468053788

# Assuming 'Calculated_Latitude_Decimal_Degrees_NAD83HARN' and 'Calculated_Longitude_Decimal_Degrees_NAD83HARN' are columns in your DataFrame
selected_rows = df_re[
    (df_re['Calculated_Latitude_Decimal_Degrees_NAD83HARN'] == selected_lat) &
    (df_re['Calculated_Longitude_Decimal_Degrees_NAD83HARN'] == selected_long)
]

In [28]:
selected_rows.shape

(0, 4)